body {
  /* background: url(#{resource['img/img.jpg']}); */
  font-family: "Century Gothic";
  font-size: 14px;
}

h1{
  color: #999999;
  font-size: 30px;
  margin-left: 12%;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {padding: 5px 20px; border-radius: 6px;}